
{erl_opts, [warnings_as_errors]}.
{xref_checks, []}.
{xref_queries,
    [{"((XC - UC) || (XU - X - B))",[]},
     {"(L - LU)", []},
     {"(LU * (X - XU))", [
         {rebar_plugin_manager,do_in_deps_dir,2},
         {rebar_plugin_manager,is_base_dir,2},
         {rebar_plugin_manager,once,3},
         {rebar_plugin_manager,plugins,1}
     ]},
     {"(DF * (XU + LU))", []}]}.
